<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="default" packages="li.excessive.log4j2">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %t %-5p %m%n" />
		</Console>
		<RollingFile name="log" fileName="logs/dsc.log" filePattern="logs/dsc-fs-%d{yyyy-MM-dd'T'HH:mm:ss.SSS}.log.gz">
			<PatternLayout pattern="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}|%-5p|%C]  %m%n" />
			<Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="30 MB"/>
            </Policies>
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Logger name="li.excessive" level="debug" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="log" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="console" />
			<AppenderRef ref="log" />
		</Root>
	</Loggers>
</Configuration>
